*
!.gitignore
!src/
!sound_effects/
!audio/
!images/
!combined/
!images/Source/
!test/
!*.vhd
!*.bdf
!*.bsf
!*.csv
!*.mif
!*.qpf
!*.qsf
!*.png
!*.py
!*.vwf
!*.tcl
!*.ps1
!*.pdn
!*.wav
!*.hex
!*.bat
!*.txt
