*
!.gitignore
!src/
!sound_effects/
!audio/
!images/
!report/
!combined/
!images/Source/
!test/
!*.vhd
!*.bdf
!*.bsf
!*.csv
!*.mif
!*.qpf
!*.qsf
!*.png
!*.py
!*.vwf
!*.tcl
!*.ps1
!*.pdn
!*.wav
!*.hex
!*.bat
!*.txt

# Latex
!report/**
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.pdf
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
